<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877249500655-pb2eig5qfiesr9rfd80i9sagnsfffh1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877249500655-pb2eig5qfiesr9rfd80i9sagnsfffh1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBDATCJQ7c5mu1XIc4x6zC3M3L3xja_2J4</string>
	<key>GCM_SENDER_ID</key>
	<string>877249500655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newfierocket.Clockin</string>
	<key>PROJECT_ID</key>
	<string>clockin-6f28b</string>
	<key>STORAGE_BUCKET</key>
	<string>clockin-6f28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877249500655:ios:6b328a2b14649941</string>
	<key>DATABASE_URL</key>
	<string>https://clockin-6f28b.firebaseio.com</string>
</dict>
</plist>